---
- name: Extract Node Exporter
  unarchive:
    src: "{{ playbook_dir }}/files/node_exporter.tar.gz"
    dest: /tmp/
    remote_src: no

- name: Move binary
  copy:
    src: /tmp/node_exporter-1.6.1.linux-amd64/node_exporter
    dest: /usr/local/bin/node_exporter
    remote_src: yes
    mode: '0755'

- name: Create systemd service
  copy:
    dest: /etc/systemd/system/node_exporter.service
    content: |
      [Unit]
      Description=Node Exporter
      After=network.target

      [Service]
      User=root
      ExecStart=/usr/local/bin/node_exporter

      [Install]
      WantedBy=multi-user.target

- name: Reload systemd
  shell: systemctl daemon-reload

- name: Enable and start Node Exporter
  service:
    name: node_exporter
    state: started
    enabled: yes
