groups:
  - name: node_alerts
    rules:

    - alert: HighCPUUsage
      expr: avg(rate(node_cpu_seconds_total{mode!="idle"}[2m])) * 100 > 80
      for: 2m
      labels:
        severity: warning
      annotations:
        summary: "High CPU Usage"
        description: "CPU has been above 80% for more than 2 minutes."

    - alert: HighMemoryUsage
      expr: (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / node_memory_MemTotal_bytes * 100 > 80
      for: 2m
      labels:
        severity: warning
      annotations:
        summary: "High Memory Usage"
        description: "Memory usage above 80%."

    - alert: NodeDown
      expr: up == 0
      for: 1m
      labels:
        severity: critical
      annotations:
        summary: "Node Exporter Down"
        description: "Target {{ $labels.instance }} is not reachable."

