groups:
  - name: mongodb_alerts
    rules:

    - alert: MongoDBInstanceDown
      expr: mongodb_up == 0
      for: 1m
      labels:
        severity: critical
      annotations:
        summary: "MongoDB is DOWN"
        description: "MongoDB exporter cannot reach the DB instance."

    - alert: HighMongoConnections
      expr: mongodb_connections_current > 100
      for: 2m
      labels:
        severity: warning
      annotations:
        summary: "High MongoDB Connections"
        description: "MongoDB connections above 100 for more than 2 minutes."

    - alert: MongoDBHighMemory
      expr: mongodb_memory_usage_bytes > 500000000
      for: 2m
      labels:
        severity: warning
      annotations:
        summary: "High MongoDB Memory Usage"
        description: "MongoDB memory usage is too high."
